
.project__selected-filters {

}
    .project__filter-heading {

    }

.project__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
}
    .project__tile {

    }



@media (width < 768px) {

    .project__grid {
        display: block;
    }
        .project__tile {
            margin-top: 24px;
        }

        .project__tile:first-child {
            margin-top: 0;
        }
}


.filtering {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
    .filtering__heading,
    #new_dizain .filtering__heading {
        flex-shrink: 0;
        margin-right: 8px;
        margin-bottom: 0;
        width: auto;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        text-align: left;
    }

    .filtering__item {
        flex-shrink: 0;
        margin-right: 0;
        margin-bottom: 0;
    }



@media (width < 768px) {

    .filtering {
        /*padding-top: 28px;*/
        /*padding-bottom: 28px;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*flex-wrap: wrap;*/
        /*gap: 12px;*/
    }
        .filtering__heading,
        #new_dizain .filtering__heading {
            width: 100%;
            /*margin-right: 8px;*/
            /*margin-bottom: 0;*/
            /*width: auto;*/
            /*font-size: 18px;*/
            /*line-height: 24px;*/
            /*color: #000000;*/
        }

        .filtering__item {
            /*margin-right: 0;*/
            /*margin-bottom: 0;*/
        }
}



.slideshow {

}
    .slideshow__stage {

    }
        .slideshow__item {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease,
                        visibility 0.5s ease;
        }

        .slideshow__item--current {
            z-index: 10;
            opacity: 1;
            visibility: visible;
        }
            .slideshow__photo {
                vertical-align: top;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: #F1F1F1;
                transition: filter 0.3s ease;
            }

            .slideshow__photo:hover {
                filter: brightness(1.05) contrast(1.05);
            }

    .slideshow__navigation {
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        bottom: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        /*pointer-events: none;*/
    }
        .slideshow__dot {
            position: relative;
            width: 32px;
            height: 32px;
            pointer-events: auto;
            background-color: transparent;
            border: none;
            padding: 0;
        }
            .slideshow__dot::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                margin: auto;
                width: 24px;
                height: 4px;
                border-radius: 2px;
                background-color: #949494;
                transition: background-color 0.5s ease;
            }

        .slideshow__dot--current {

        }
            .slideshow__dot--current::before {
                background-color: #FFFFFF;
            }

.preview {
    display: block;
    box-shadow: inset 0 0 0 1px #ECECEC;
    color: inherit;
}

.preview:hover {
    color: inherit;
}
    .preview__gallery {
        position: relative;
        aspect-ratio: 670 / 362;
    }

    .preview__summary {
        display: flex;
        align-items: stretch;
        background-color: #F1F1F1;
    }
        .preview__param {
            position: relative;
            padding: 12px 16px;
        }

        .preview__param::before {
            content: "";
            position: absolute;
            left: 0;
            top: 16px;
            bottom: 16px;
            display: block;
            width: 1px;
            background-color: #E0E0E0;
        }

        .preview__param:first-child::before {
            display: none;
        }
            .preview__stat {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #000000;
            }

            .preview__value {
                font-size: 13px;
                line-height: 18px;
                color: #696969;
            }

    .preview__body {
        padding: 18px 16px 20px;
    }
        .preview__heading,
        #new_dizain h2.preview__heading { /* конфликт */
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: left;
            color: #000000;
        }
            .preview__link {
                color: inherit;
            }

        .preview__description {
            margin-top: 8px;
            font-size: 16px;
            line-height: 24px;
            color: #696969;
        }
            .preview__description p {
                font-size: inherit;
                line-height: inherit;
            }

            .preview__description p:last-child {
                margin-bottom: 0;
            }

        .preview__footer {
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }
            .preview__date {
                font-weight: 600;
                font-size: 15px;
                line-height: 24px;
                color: #000000;
            }
                .preview__pub-date,
                .preview__pub-date:hover {
                    font-weight: 300;
                    color: #696969;
                    text-decoration: none;
                }

                .preview__details {
                    margin-bottom: 0;
                    margin-right: 0;
                }


@media ( 768px <= width < 992px) {

    .preview {

    }
        .preview__gallery {

        }
            .slideshow__photo {

            }

        .preview__summary {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
            .preview__param::before {
                display: none;
            }

            .preview__param:nth-child(1)::before {
                content: "";
                display: block;
                position: absolute;
                left: 16px;
                right: 0;
                top: auto;
                bottom: 0;
                width: auto;
                height: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param:nth-child(2)::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 16px;
                top: auto;
                bottom: 0;
                width: auto;
                height: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param:nth-child(2)::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 16px;
                bottom: 0;
                width: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param:nth-child(4)::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 16px;
                width: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param::before {

            }

            .preview__param:first-child::before {

            }
                .preview__stat {

                }

                .preview__value {

                }

        .preview__body {

        }
            .preview__heading,
            #new_dizain h2.preview__heading { /* конфликт */

            }
                .preview__link {

                }

            .preview__description {

            }
                .preview__description p {

                }

                .preview__description p:last-child {

                }

            .preview__footer {
                display: block;
            }
                .preview__date {

                }
                    .preview__pub-date,
                    .preview__pub-date:hover {

                    }

                .preview__details {
                    margin-top: 10px;
                }
}


@media ( width < 768px ) {

    .preview {
        /*display: block;*/
        /*box-shadow: inset 0 0 0 1px #ECECEC;*/
        /*color: inherit;*/
    }

    .preview:hover {
        /*color: inherit;*/
    }
        .preview__gallery {
            aspect-ratio: 4 / 3;
        }
            .slideshow__photo {
                /*vertical-align: top;*/
                /*width: 100%;*/
                /*height: auto;*/
                /*object-fit: cover;*/
                /*background-color: #F1F1F1;*/
            }

        .preview__summary {
            display: block;
            padding-top: 8px;
            padding-bottom: 8px;
            /*align-items: stretch;*/
            /*background-color: #F1F1F1;*/
        }
            .preview__param {
                /*position: relative;*/
                /*padding: 12px 16px;*/
                padding-top: 4px;
                padding-bottom: 4px;
            }

            .preview__param::before {
                /*content: "";*/
                /*position: absolute;*/
                /*left: 0;*/
                /*top: 16px;*/
                /*bottom: 16px;*/
                /*display: block;*/
                /*width: 1px;*/
                /*background-color: #E0E0E0;*/
            }

            .preview__param:first-child::before {
                /*display: none;*/
            }
                .preview__stat {
                    /*font-weight: 600;*/
                    /*font-size: 14px;*/
                    /*line-height: 19px;*/
                    /*color: #000000;*/
                }

                .preview__value {
                    /*font-size: 13px;*/
                    /*line-height: 18px;*/
                    /*color: #696969;*/
                }

        .preview__body {
            /*padding: 18px 16px 20px;*/
        }
            .preview__heading,
            #new_dizain h2.preview__heading { /* конфликт */
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: 600;*/
                /*font-size: 20px;*/
                /*line-height: 24px;*/
                /*text-align: left;*/
                /*color: #000000;*/
            }
                .preview__link {
                    /*color: inherit;*/
                }

            .preview__description {
                /*margin-top: 8px;*/
                /*font-size: 16px;*/
                /*line-height: 24px;*/
                /*color: #696969;*/
            }
                .preview__description p {
                    /*font-size: inherit;*/
                    /*line-height: inherit;*/
                }

                .preview__description p:last-child {
                    /*margin-bottom: 0;*/
                }

            .preview__footer {
                /*margin-top: 8px;*/
                display: block;
                /*align-items: center;*/
                /*justify-content: space-between;*/
                /*gap: 20px;*/
            }
                .preview__date {
                    /*font-weight: 600;*/
                    /*font-size: 15px;*/
                    /*line-height: 24px;*/
                    /*color: #000000;*/
                }
                    .preview__pub-date,
                    .preview__pub-date:hover {
                        /*font-weight: 300;*/
                        /*color: #696969;*/
                        /*text-decoration: none;*/
                    }

                    .preview__details {
                        margin-top: 10px;
                        /*margin-bottom: 0;*/
                        /*margin-right: 0;*/
                    }
}



.author {
    display: flex;
    align-items: flex-end;
    background-color: #F1F1F1;
    margin-bottom: 80px;
}
    .author__photo {
        margin-left: 56px;
        flex-shrink: 0;
    }

    .author__content {
        padding: 71px 26px 38px 0;
    }
        .author__quote {
            border-top: none;
            border-bottom: none;
            margin-bottom: 43px;
            font-size: 16px;
            line-height: 24px;
        }
            /* Конфликт */
            .author__quote p {
                font-size: inherit;
                line-height: inherit;
            }

        .author__name {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
        }

        .author__note {
            margin-top: 11px;
            font-size: 15px;
            line-height: 20px;
            color: #696969;
            text-align: right;
        }

        .author__experience {
            margin-top: 14px;
            font-size: 15px;
            line-height: 20px;
            color: #000000;
            text-align: right;
        }
            .author__experience::before {
                content: "";
                display: inline-block;
                vertical-align: top;
                margin-top: -2px;
                margin-bottom: -2px;
                margin-right: 4px;
                width: 24px;
                height: 24px;
                background-image: url("images/author-experience.svg");
            }



@media (768px <= width < 1200px) {

    .author {

    }
        .author__photo {
            margin-left: 20px;
            width: 280px;
            height: auto;
        }

        .author__content {

        }
            .author__quote {
                margin-bottom: 36px;
                font-size: 13px;
                line-height: 20px;
            }

            .author__name {
                font-size: 16px;
                line-height: 20px;
            }

            .author__note {
                margin-top: 8px;
                font-size: 12px;
                line-height: 18px;
            }

            .author__experience {
                margin-top: 10px;
                font-size: 12px;
                line-height: 18px;
            }
                .author__experience::before {

                }
}




@media (width < 768px) {

    .author {
        display: block;
        text-align: center;
        padding-top: 9px;
    }
        .author__photo {
            margin-left: 0;
            width: 250px;
        }

        .author__content {
            margin-top: 0;
            padding: 50px 16px 21px;
            text-align: left;
        }
            .author__quote {
                padding-left: 26px;
                padding-right: 0;
            }
                .author__quote::before {
                    font-size: 50px;
                    line-height: 50px;
                    top: -20px;
                    left: 0;
                }

            .author__name {
                font-size: 18px;
                line-height: 24px;
            }

            .author__note {

            }

            .author__experience {

            }
                .author__experience::before {

                }
}



.fake-link {
    color: inherit;
    text-decoration: none;
}


.nobr {
    white-space: nowrap;
}
