.listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
}
    .listing__item {

    }

@media (max-width: 767px) {

    .listing {
        display: block;
    }
        .listing__item {
            margin-top: 24px;
        }

        .listing__item:first-child {
            margin-top: 0;
        }
}



.button,
.button:hover,
.button:active {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 10px 18px;
    min-width: 100px;
    background-color: #082340;
    border-radius: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}




.tag,
.tag:hover,
.tag:active {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 6px 12px;
    min-width: 100px;
    background-color: #082340;
    border-radius: 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
    .tag__delete {
        position: relative;
        top: 1px;
        margin: -4px -10px -4px -4px;
        width: 28px;
        height: 28px;
        border: none;
        padding: 0;
        background-color: transparent;
        background-image: url("images/tag-delete.svg");
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }



.selected-filters {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
    .selected-filters__heading,
    #new_dizain .selected-filters__heading {
        flex-shrink: 0;
        margin-right: 8px;
        margin-bottom: 0;
        width: auto;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        text-align: left;
    }

    .selected-filters__item {
        flex-shrink: 0;
        margin-right: 0;
        margin-bottom: 0;
    }


@media (max-width: 767px) {

    .selected-filters {

    }
        .selected-filters__heading,
        #new_dizain .selected-filters__heading {
            width: 100%;
        }

        .selected-filters__item {

        }
}


@media (max-width: 767px) {
    .selected-filters {
        padding-top: 16px;
        gap: 16px;
    }
}



.slideshow {

}
    .slideshow__stage {

    }
        .slideshow__item {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease,
                        visibility 0.5s ease;
        }

        .slideshow__item--current {
            z-index: 10;
            opacity: 1;
            visibility: visible;
        }
            .slideshow__photo,
            .slideshow .slideshow__photo { /* конфликт */
                vertical-align: top;
                width: 100%;
                height: 100% !important;
                object-fit: cover;
                background-color: #F1F1F1;
                transition: filter 0.3s ease;
            }

            .slideshow__photo:hover {
                filter: brightness(1.05) contrast(1.05);
            }

    .slideshow__navigation {
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        bottom: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        pointer-events: none;
    }
        .slideshow__dot {
            position: relative;
            width: 32px;
            height: 32px;
            pointer-events: auto;
            background-color: transparent;
            border: none;
            padding: 0;
        }
            .slideshow__dot::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                margin: auto;
                width: 24px;
                height: 4px;
                border-radius: 2px;
                background-color: #949494;
                transition: background-color 0.5s ease;
            }

        .slideshow__dot--current {

        }
            .slideshow__dot--current::before {
                background-color: #FFFFFF;
            }

.preview {
    display: block;
    box-shadow: inset 0 0 0 1px #ECECEC;
    color: inherit;
}

.preview:hover {
    color: inherit;
}
    .preview__gallery {
        position: relative;
        aspect-ratio: 670 / 362;
    }

    .preview__summary {
        display: flex;
        align-items: stretch;
        background-color: #F1F1F1;
    }
        .preview__param {
            position: relative;
            padding: 12px 16px;
        }

        .preview__param::before {
            content: "";
            position: absolute;
            left: 0;
            top: 16px;
            bottom: 16px;
            display: block;
            width: 1px;
            background-color: #E0E0E0;
        }

        .preview__param:first-child::before {
            display: none;
        }
            .preview__stat {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #000000;
            }

            .preview__value {
                font-size: 13px;
                line-height: 18px;
                color: #696969;
            }

    .preview__body {
        padding: 18px 16px 20px;
    }
        .preview__heading,
        #new_dizain h2.preview__heading { /* конфликт */
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: left;
            color: #000000;
        }
            .preview__link,
            .preview__link:hover {
                color: inherit;
            }

        .preview__description {
            margin-top: 8px;
            font-size: 16px;
            line-height: 24px;
            color: #696969;
        }
            .preview__description p {
                font-size: inherit;
                line-height: inherit;
            }

            .preview__description p:last-child {
                margin-bottom: 0;
            }

        .preview__footer {
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }
            .preview__date {
                font-weight: 600;
                font-size: 15px;
                line-height: 24px;
                color: #000000;
            }
                .preview__pub-date,
                .preview__pub-date:hover {
                    font-weight: 300;
                    color: #696969;
                    text-decoration: none;
                }

                .preview__details {
                    margin-bottom: 0;
                    margin-right: 0;
                }


@media (min-width: 768px) and (max-width: 991px) {

    .preview {

    }
        .preview__gallery {

        }
            .slideshow__photo {

            }

        .preview__summary {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
            .preview__param::before {
                display: none;
            }

            .preview__param:nth-child(1)::before {
                content: "";
                display: block;
                position: absolute;
                left: 16px;
                right: 0;
                top: auto;
                bottom: 0;
                width: auto;
                height: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param:nth-child(2)::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 16px;
                top: auto;
                bottom: 0;
                width: auto;
                height: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param:nth-child(2)::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 16px;
                bottom: 0;
                width: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param:nth-child(4)::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 16px;
                width: 1px;
                background-color: #E0E0E0 !important;
            }

            .preview__param::before {

            }

            .preview__param:first-child::before {

            }
                .preview__stat {

                }

                .preview__value {

                }

        .preview__body {

        }
            .preview__heading,
            #new_dizain h2.preview__heading { /* конфликт */

            }
                .preview__link {

                }

            .preview__description {

            }
                .preview__description p {

                }

                .preview__description p:last-child {

                }

            .preview__footer {
                display: block;
            }
                .preview__date {

                }
                    .preview__pub-date,
                    .preview__pub-date:hover {

                    }

                .preview__details {
                    margin-top: 10px;
                }
}


@media (max-width: 767px) {

    .preview {
        /*display: block;*/
        /*box-shadow: inset 0 0 0 1px #ECECEC;*/
        /*color: inherit;*/
    }

    .preview:hover {
        /*color: inherit;*/
    }
        .preview__gallery {
            aspect-ratio: 4 / 3;
        }
            .slideshow__photo {
                /*vertical-align: top;*/
                /*width: 100%;*/
                /*height: auto;*/
                /*object-fit: cover;*/
                /*background-color: #F1F1F1;*/
            }

        .preview__summary {
            display: block;
            padding-top: 8px;
            padding-bottom: 8px;
            /*align-items: stretch;*/
            /*background-color: #F1F1F1;*/
        }
            .preview__param {
                /*position: relative;*/
                /*padding: 12px 16px;*/
                padding-top: 4px;
                padding-bottom: 4px;
            }

            .preview__param::before {
                display: none;
            }

            .preview__param:first-child::before {
                /*display: none;*/
            }
                .preview__stat {
                    /*font-weight: 600;*/
                    /*font-size: 14px;*/
                    /*line-height: 19px;*/
                    /*color: #000000;*/
                }

                .preview__value {
                    /*font-size: 13px;*/
                    /*line-height: 18px;*/
                    /*color: #696969;*/
                }

        .preview__body {
            /*padding: 18px 16px 20px;*/
            padding-top: 13px;
        }
            .preview__heading,
            #new_dizain h2.preview__heading { /* конфликт */
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: 600;*/
                /*font-size: 20px;*/
                /*line-height: 24px;*/
                /*text-align: left;*/
                /*color: #000000;*/
            }
                .preview__link {
                    /*color: inherit;*/
                }

            .preview__description {
                /*margin-top: 8px;*/
                /*font-size: 16px;*/
                /*line-height: 24px;*/
                /*color: #696969;*/
            }
                .preview__description p {
                    /*font-size: inherit;*/
                    /*line-height: inherit;*/
                }

                .preview__description p:last-child {
                    /*margin-bottom: 0;*/
                }

            .preview__footer {
                /*margin-top: 8px;*/
                display: block;
                /*align-items: center;*/
                /*justify-content: space-between;*/
                /*gap: 20px;*/
            }
                .preview__date {
                    /*font-weight: 600;*/
                    /*font-size: 15px;*/
                    /*line-height: 24px;*/
                    /*color: #000000;*/
                }
                    .preview__pub-date,
                    .preview__pub-date:hover {
                        /*font-weight: 300;*/
                        /*color: #696969;*/
                        /*text-decoration: none;*/
                    }

                    .preview__details {
                        margin-top: 10px;
                        /*margin-bottom: 0;*/
                        /*margin-right: 0;*/
                    }
}



.author {
    display: flex;
    align-items: flex-end;
    background-color: #F1F1F1;
    margin-bottom: 80px;
}
    .author__photo {
        margin-left: 56px;
        flex-shrink: 0;
    }

    .author__content {
        padding: 71px 26px 38px 58px;
    }
        .author__quote {
            position: relative;
            border-top: none;
            border-bottom: none;
            margin-bottom: 43px;
            font-size: 16px;
            line-height: 24px;
        }
            /* Конфликт */
            .author__quote p {
                font-size: inherit;
                line-height: inherit;
            }

            .author__quote::before {
                content: "";
                position: absolute;
                right: 100%;
                margin-right: 4px;
                top: -17px;
                display: block;
                width: 27px;
                height: 24px;
                background-image: url("images/quote.svg");
                background-repeat: no-repeat;
                background-position: center center;
            }

            .author__quote::after {
                content: "";
                position: absolute;
                right: -5px;
                bottom: -5px;
                display: block;
                width: 27px;
                height: 24px;
                background-image: url("images/quote.svg");
                background-repeat: no-repeat;
                background-position: center center;
            }

        .author__name {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
        }

        .author__note {
            margin-top: 11px;
            font-size: 15px;
            line-height: 20px;
            color: #696969;
            text-align: right;
        }

        .author__experience {
            margin-top: 14px;
            font-size: 15px;
            line-height: 20px;
            color: #000000;
            text-align: right;
        }
            .author__experience::before {
                content: "";
                display: inline-block;
                vertical-align: top;
                margin-top: -2px;
                margin-bottom: -2px;
                margin-right: 4px;
                width: 24px;
                height: 24px;
                background-image: url("images/author-experience.svg");
            }


@media (min-width: 768px) and (max-width: 1199px) {

    .author {

    }
        .author__photo {
            margin-left: 20px;
            width: 280px;
            height: auto;
        }

        .author__content {
            padding-left: 0;
        }
            .author__quote {
                margin-bottom: 36px;
                font-size: 13px;
                line-height: 20px;
            }

            .author__name {
                font-size: 16px;
                line-height: 20px;
            }

            .author__note {
                margin-top: 8px;
                font-size: 12px;
                line-height: 18px;
            }

            .author__experience {
                margin-top: 10px;
                font-size: 12px;
                line-height: 18px;
            }
                .author__experience::before {

                }
}


@media (max-width: 767px) {

    .author {
        display: block;
        text-align: center;
        padding-top: 9px;
    }
        .author__photo {
            margin-left: 0;
            width: 250px;
        }

        .author__content {
            margin-top: 0;
            padding: 50px 16px 21px;
            text-align: left;
        }
            .author__quote {
                margin-bottom: 49px;
                padding-left: 26px;
                padding-right: 0;
            }
                .author__quote::before {
                    font-size: 50px;
                    line-height: 50px;
                    top: -20px;
                    left: 0;
                }

            .author__name {
                font-size: 18px;
                line-height: 24px;
            }

            .author__note {

            }

            .author__experience {

            }
                .author__experience::before {

                }
}



.fake-link {
    color: inherit;
    text-decoration: none;
}


.nobr {
    white-space: nowrap;
}


.pages {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 0;
    margin-left: -13px;
    margin-right: -13px;
    text-align: center;
}
    .pages__ribbon {
        display: inline-flex;
        vertical-align: top;
        gap: 4px;
        padding-left: 13px;
        padding-right: 13px;
    }
        .pages__item {
            min-width: 32px;
            flex-shrink: 0;
            padding: 4px 9px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }

        .pages__item:not(.pages__item--separator):hover {
            background-color: #D7D7D7;
            color: #FFFFFF;
        }

        .pages__item--highlight,
        .pages__item--highlight:hover {
            background-color: #D5C5A7;
            color: #FFFFFF;
        }

        .pages__item--current,
        .pages__item--current:hover {
            background-color: #D5C5A7;
            color: #FFFFFF;
        }


.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Edge */
}

.hide-scrollbar::-webkit-scrollbar { /* webkit */
    display: none;
}


@media (max-width: 767px) {
    .pages {
        padding: 24px 0;
    }
}


.locations {
    height: 717px;
}


@media (max-width: 1199px) {

    .locations {
        height: 362px;
    }
}


.page-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 26px;
    padding-bottom: 28px;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
}


@media (max-width: 768px) {

    .page-title {
        padding-top: 16px;
        padding-bottom: 18px;
        font-size: 24px;
        line-height: 32px;
    }
}



.filters {
    display: flex;
    align-items: flex-start;
    padding: 16px 20px;
    margin-bottom: 28px;
    background-color: #F1F1F1;
}
    .filters__handler {
        margin-right: auto;
        display: flex;
        align-items: center;
        border: none;
        padding: 0;
        background-color: transparent;
        font-family: inherit;
        cursor: default;
    }

    @media (min-width: 1200px) and (max-width: 1299px) {
        .filters__handler {
            display: none;
        }
    }

        .filters__handler::before {
            content: "";
            margin-top: 5px;
            flex-shrink: 0;
            display: block;
            margin-right: 4px;
            width: 32px;
            height: 32px;
            background-image: url("images/filters.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .filters__heading {
            margin-top: 5px;
            padding-right: 20px;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }

        .filters__handler::after {
            display: none;
        }

        .filters__list {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }

        .filters__options {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            margin-left: 16px;
        }
            .filters__options::before {
                content: "";
                display: block;
                margin-top: 7px;
                width: 1px;
                height: 28px;
                background-color: #E0E0E0;
            }

            .filters__addon {

            }


@media (max-width: 1199px) {


    .filters {
        display: block;
        padding: 8px 15px;
    }
        .filters__handler {
            width: 100%;
            text-align: left;
            padding-top: 3px;
            padding-bottom: 8px;
        }
            .filters__handler::before {

            }

            .filters__heading {
                width: 100%;
                padding-top: 2px;
            }

            .filters__handler::after {
                content: "";
                margin-left: auto;
                margin-right: -4px;
                margin-top: 3px;
                display: block;
                flex-shrink: 0;
                width: 32px;
                height: 32px;
                background-image: url("images/filters-chevron.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .filters__list {
                display: none;
                position: relative;
                padding-top: 16px;
            }
                .filters__list::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    display: block;
                    height: 1px;
                    background-color: #E5E5E5;
                }

                .filters__item {
                    margin-top: 16px;
                }

                .filters__item:first-child {
                    margin-top: 0;
                }

            .filters__options {
                margin-top: 16px;
                border-top: 1px solid #E0E0E0;
                padding-top: 2px;
                display: none;
                margin-left: 0;
            }
                .filters__options::before {
                    display: none;
                }

                .filters__addon {
                    margin-top: 2px;
                }


    .filters--expanded {

    }
        .filters--expanded .filters__handler::after {
            transform: scaleY(-1);
        }

        .filters--expanded .filters__list {
            display: block;
        }

        .filters--expanded .filters__options {
            display: block;
        }
}




.param {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .param__handler {
        display: inline-flex;
        align-items: center;
        padding: 8px 13px;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        font-family: inherit;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        color: inherit;
        cursor: pointer;
    }
        .param__handler::after {
            content: "";
            flex-shrink: 0;
            margin-left: 5px;
            margin-right: 1px;
            display: block;
            width: 12px;
            height: 12px;
            background-image: url("images/param.svg");
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: center center;
        }

    .param__dropdown {
        position: absolute;
        z-index: 100;
        left: 0;
        top: 100%;
        padding-top: 2px;
        display: none;
    }
        .param__widget {
            background-color: #FFFFFF;
            border: 1px solid #E5E5E5;
        }


.param--expanded {

}
    .param--expanded .param__dropdown {
        display: block;
    }

    .param--expanded .param__handler::after {
        display: block;
        transform: scaleY(-1);
    }


@media (max-width: 1199px) {

    .param {
        display: block;
    }
        .param__handler {
            display: flex;
            width: 100%;
        }
            .param__handler::after {
                margin-left: auto;
            }

        .param__dropdown {
            position: static;
        }
            .param__widget {

            }


    .param--expanded {

    }
        .param--expanded .param__dropdown {

        }
}



.check-list {
    white-space: nowrap;
}
    .check-list__item {
        box-shadow: inset 0 1px 0 0 #E5E5E5;
    }

    .check-list__item:first-child {
        box-shadow: none;
    }
        .check-list__item .choice {
            width: 100%;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
        }
            .check-list__item .choice__icon {
                margin-top: 3px;
                width: 18px;
                height: 18px;
            }


.space {
    padding: 16px;
}



.choice {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 20px;
    min-height: 42px;
    margin-bottom: 0; /* bootstrap conflict */
    font-weight: inherit;
    cursor: pointer;
    user-select: none;
}
    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 12px;
    }

    .choice__icon {
        position: absolute;
        left: 0;
        top: 10px;
        width: 24px;
        height: 24px;
        border: 1px solid #E5E5E5;
        background-color: #FFFFFF;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .choice--checkbox .choice__icon {
        background-image: url("images/choice-checkbox.svg");
    }

    .choice--radio .choice__icon {
        background-image: url("images/choice-radio.svg");
        border-radius: 50%;
    }

    .choice__widget:checked ~ .choice__icon {
        transition: none;
        background-color: #D5C5A7;
        border-color: transparent;
    }

    .choice__label {
        position: relative;
        display: block;
        padding: 9px 0 9px 34px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }


.choice__widget[type="radio"]:checked ~ .choice__icon,
.choice__widget[type="radio"]:checked ~ .choice__icon ~ .choice__label {
    cursor: default;
}


.choice--smaller {

}
    .choice--smaller .choice__icon {
        width: 18px;
        height: 18px;
    }

